/*----------
    RESET
----------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*----------
    COMMON
----------*/
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.container{
    max-width: 1400px;
    margin: auto;
}
/*----------
    TIPOGRAPHY
----------*/
body{
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}
h1{
    color: #e53170;
    text-align: center;
    padding-top: 4%;
}
p{
    padding-top: 5%;
    padding-bottom: 5%;
}
h4, h5{
    color: white;
    padding: 10px 13px;
    float: left;
}
a{
    color: #0b9fd1;
    padding: 10px 13px;
}

/*----------
    MAIN
-----------*/
.sez-team{
    width: calc(100% / 3 - 50px);
    height: 100px;
    background-color: #0f0e17;
    float: left;
    margin: 0 10px;
    color: white;
    box-shadow: 2px 2px 4px 4px gray;
}
img{
    width: 100px;
    height: 100px;
    float: left;
    
}
.card-bottom{
    margin-top: 50px;
}
.info{
    width: 170px;
    float: left;
}
